In [229]:
import pandas as pd

In [230]:
df_user_churn_cleaned = pd.read_csv('user_hits_binning_import.csv', parse_dates=['date'])

In [231]:
df_user_churn_cleaned.head(10)

   userid       date
0       1 2017-01-01
1       2 2017-01-02
2       3 2017-01-03
3       4 2018-01-01
4       5 2018-01-02
5       6 2018-10-03
6       1 2019-10-01
7       3 2019-10-02
8       7 2019-10-03
9       8 2020-01-01

In [232]:
from datetime import datetime
import numpy as np

In [233]:
df_user_churn_cleaned['age'] = (datetime.now() - pd.to_datetime(df_user_churn_cleaned['date'])).dt.days

In [234]:
df_user_churn_cleaned

    userid       date   age
0        1 2017-01-01  1154
1        2 2017-01-02  1153
2        3 2017-01-03  1152
3        4 2018-01-01   789
4        5 2018-01-02   788
5        6 2018-10-03   514
6        1 2019-10-01   151
7        3 2019-10-02   150
8        7 2019-10-03   149
9        8 2020-01-01    59
10       1 2020-01-02    58
11       2 2020-01-03    57

In [235]:
df_ages = df_user_churn_cleaned.groupby('userid').max()

In [236]:
df_ages

             date   age
userid
1      2020-01-02  1154
2      2020-01-03  1153
3      2019-10-02  1152
4      2018-01-01   789
5      2018-01-02   788
6      2018-10-03   514
7      2019-10-03   149
8      2020-01-01    59

In [237]:
df_ages['age_bin'] = pd.cut(x=df_ages['age'], bins=[1, 365, 730, 9999], labels=['< 1 year', '1 to 2 years', '> 3 years'])
#df_ages['age_by_decade'] = pd.cut(x=df_ages['age'], bins=[365, 730, 1095], labels=['< 1 year', '1 to 2 years', '> 3 years'])
#df_user_churn_cleaned['day_of_week_in_number'] = pd.df_user_churn_cleaned['date'].dt.dayofweek

In [238]:
df_ages

             date   age       age_bin
userid
1      2020-01-02  1154     > 3 years
2      2020-01-03  1153     > 3 years
3      2019-10-02  1152     > 3 years
4      2018-01-01   789     > 3 years
5      2018-01-02   788     > 3 years
6      2018-10-03   514  1 to 2 years
7      2019-10-03   149      < 1 year
8      2020-01-01    59      < 1 year

In [239]:
df_grouped = df_ages.groupby('age_bin').count()

In [240]:
df_grouped

              date  age
age_bin
< 1 year         2    2
1 to 2 years     1    1
> 3 years        5    5

In [241]:
df_grouped.drop(['date'], axis=1)

              age
age_bin
< 1 year        2
1 to 2 years    1
> 3 years       5

In [242]:
df_grouped.rename(columns={'age': 'user count'}, inplace=True)

In [243]:
df_grouped

              date  user count
age_bin
< 1 year         2           2
1 to 2 years     1           1
> 3 years        5           5

In [244]:
df_grouped.drop(['date'], axis=1)

              user count
age_bin
< 1 year               2
1 to 2 years           1
> 3 years              5