In [1]:
import pandas as pd

In [2]:
df_user_data_2017 = pd.read_csv('user_data_2017.csv')

In [3]:
df_user_data_2017.head()

   userid      date  year
0       1  1/1/2017  2017
1       2  1/2/2017  2017
2       3  1/3/2017  2017

In [4]:
df_user_data_2018 = pd.read_csv('user_data_2018.csv')

In [17]:
df_user_data_2018.head()

   userid      date  year
0       4  1/1/2018  2018
1       5  1/2/2018  2018
2       6  1/3/2018  2018

In [5]:
df_user_data_2019 = pd.read_csv('user_data_2019.csv')

In [18]:
df_user_data_2019.head()

   userid      date  year
0       1  1/1/2019  2019
1       3  1/2/2019  2019
2       6  1/3/2019  2019

In [19]:
df_user_data_combined = pd.concat([df_user_data_2017, df_user_data_2018, df_user_data_2019], ignore_index=True)

In [20]:
df_user_data_combined.head(10)

   userid      date  year
0       1  1/1/2017  2017
1       2  1/2/2017  2017
2       3  1/3/2017  2017
3       4  1/1/2018  2018
4       5  1/2/2018  2018
5       6  1/3/2018  2018
6       1  1/1/2019  2019
7       3  1/2/2019  2019
8       6  1/3/2019  2019