In [13]:
import pandas as pd

In [14]:
df_user_churn = pd.read_csv('user_hits_export.csv', header=0, names=['userid','date'])

In [15]:
df_user_churn

    userid      date
0      1.0  1/1/2017
1      2.0  1/2/2017
2      3.0  1/3/2017
3      4.0  1/1/2018
4      5.0  1/2/2018
5      6.0  1/3/2018
6      1.0  1/1/2019
7      3.0  1/2/2019
8      6.0  1/3/2019
9      NaN  1/1/2019
10     NaN  1/2/2019
11     NaN  1/3/2019

In [16]:
df_user_restricted = df_user_churn[df_user_churn['userid']==1]

In [17]:
df_user_restricted.head()

   userid      date
0     1.0  1/1/2017
6     1.0  1/1/2019

In [18]:
df_user_restricted.sort_values(by='date')

   userid      date
0     1.0  1/1/2017
6     1.0  1/1/2019

In [19]:
 df_user_restricted.sort_values(by='date', ascending=False)

   userid      date
6     1.0  1/1/2019
0     1.0  1/1/2017

In [33]:
df_usage_patterns = df_user_churn

In [34]:
import datetime
import numpy as np

In [35]:
now = pd.to_datetime('now')

In [36]:
df_usage_patterns['age'] = now - df_usage_patterns['date']

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'str'

In [37]:
df_usage_patterns = pd.read_csv('user_hits_export.csv', header=0, names=['userid','date'], parse_dates=True)

In [38]:
df_usage_patterns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 0 to 11
Data columns (total 2 columns):
userid    9 non-null float64
date      12 non-null object
dtypes: float64(1), object(1)
memory usage: 288.0+ bytes

In [39]:
pd.isnull(df_usage_patterns)

   userid   date
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9    True  False
10   True  False
11   True  False

In [40]:
df_user_churn_cleaned = df_user_churn.dropna()

In [41]:
df_user_churn_cleaned.head(10)

   userid      date
0     1.0  1/1/2017
1     2.0  1/2/2017
2     3.0  1/3/2017
3     4.0  1/1/2018
4     5.0  1/2/2018
5     6.0  1/3/2018
6     1.0  1/1/2019
7     3.0  1/2/2019
8     6.0  1/3/2019