In [1]:
import sqlite3
sqlite3.connect('user_hits.db')

In [2]:
conn = sqlite3.connect('user_hits.db')

In [4]:
import pandas as pd

In [5]:
df_user_hits = pd.read_sql_query("select * from tbl_user_hits;", conn)

In [6]:
df_user_hits.head()

   userid      date
0       1  1/1/2019
1       2  1/2/2019
2       3  1/3/2019

In [7]:
df_user_geo = pd.read_sql_query("select * from tbl_user_geo;", conn)

In [34]:
df_user_geo.head()

   userid     city state
0       1    Dover    DE
1       3  El Paso    TX
2       5    Ewing    NJ

In [8]:
conn.close()

In [9]:
df_left_join  = pd.merge(left=df_user_hits, right=df_user_geo, how='left', left_on='userid', right_on='userid')
df_left_join

   userid      date     city state
0       1  1/1/2019    Dover    DE
1       2  1/2/2019      NaN   NaN
2       3  1/3/2019  El Paso    TX

In [10]:
df_right_join  = pd.merge(left=df_user_hits, right=df_user_geo, how='right', left_on='userid', right_on='userid')
df_right_join

   userid      date     city state
0     1.0  1/1/2019    Dover    DE
1     3.0  1/3/2019  El Paso    TX
2     5.0       NaN    Ewing    NJ

In [11]:
df_inner_join = pd.merge(left=df_user_hits, right=df_user_geo, left_on='userid', right_on='userid')
df_inner_join

   userid      date     city state
0       1  1/1/2019    Dover    DE
1       3  1/3/2019  El Paso    TX

In [12]:
df_outer_join  = pd.merge(left=df_user_hits, right=df_user_geo, how='outer', left_on='userid', right_on='userid')
df_outer_join

   userid      date     city state
0     1.0  1/1/2019    Dover    DE
1     2.0  1/2/2019      NaN   NaN
2     3.0  1/3/2019  El Paso    TX
3     5.0       NaN    Ewing    NJ