In [1]:
import sqlite3
sqlite3.connect('user_hits.db')

In [2]:
conn = sqlite3.connect('user_hits.db')

In [3]:
import pandas as pd

In [4]:
df_user_geo_hits = pd.read_sql_query("select * from tbl_user_geo_hits;", conn)

In [5]:
df_user_geo_hits.head(10)

   userid      date          city state
0       1  1/1/2019         Dover    DE
1       3  1/1/2019       El Paso    TX
2       1  1/2/2019         Dover    DE
3       2  1/2/2019  Philadelphia    PA
4       3  1/2/2019       El Paso    TX
5       1  1/3/2019         Dover    DE
6       2  1/3/2019  Philadelphia    PA

In [6]:
df_groupby_SQL = pd.read_sql_query("select city, state, count(*) as hits from tbl_user_geo_hits group by 1, 2;", conn)

In [7]:
df_groupby_SQL

           city state  hits
0         Dover    DE     3
1       El Paso    TX     2
2  Philadelphia    PA     2

In [8]:
df_groupby_city_state = df_user_geo_hits.groupby(["city", "state"]) ["userid"].count() #df.groupby("state")["last_name"].count()

In [9]:
df_groupby_city_state.head()

city          state
Dover         DE       3
El Paso       TX       2
Philadelphia  PA       2
Name: userid, dtype: int64

In [11]:
conn.close()