In [1]:
import sqlite3
sqlite3.connect('user_hits.db')

In [2]:
conn = sqlite3.connect('user_hits.db')

In [3]:
import pandas as pd

In [4]:
df_left_join = pd.read_sql_query("select u.userid, u.date, g.city, g.state from tbl_user_hits u left join tbl_user_geo g on u.userid = g.userid;", conn)

In [5]:
df_left_join.head()

   userid      date     city state
0       1  1/1/2019    Dover    DE
1       2  1/2/2019     None  None
2       3  1/3/2019  El Paso    TX

In [6]:
df_inner_join = pd.read_sql_query("select u.userid, u.date, g.city, g.state from tbl_user_hits u, tbl_user_geo g where u.userid = g.userid;", conn)

In [7]:
df_inner_join.head()

   userid      date     city state
0       1  1/1/2019    Dover    DE
1       3  1/3/2019  El Paso    TX

In [8]:
conn.close()