In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('user_hits.db')

In [3]:
import pandas as pd

In [4]:
df_user_churn = pd.read_sql_query("SELECT * FROM tbl_user_hits;", conn)

In [5]:
df_user_churn.head()

   userid      date
0     1.0  1/1/2017
1     2.0  1/2/2017
2     3.0  1/3/2017
3     4.0  1/1/2018
4     5.0  1/2/2018

In [6]:
df_user_churn.to_csv('user_hits_export.csv')

In [7]:
conn.close()